/*------------Added Fonts-------------*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Poppins&family=Work+Sans:wght@400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background-2.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 300px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    width: 80px;
    color: #d77300;
    font-size: 18px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul li a{
    text-transform: uppercase;
    padding: 10px 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
    text-decoration: none;

}

nav ul li a:hover{
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.header-text h1 span{
    color:#ffe600;
}

/* --------------about----------------*/

#about{
    padding: 80px 0;
    color: #ffffff;
}

.row{
    justify-content: start;
    flex-wrap: wrap;  
}

.about-col-1{
}

.about-col-1 img{
    width: 45%;
    border-radius: 15px;
}

.about-col-2{
    text-align: justify;
}

.sub-title{
    padding: 70px 0;
    font-size: 60px;
    font-weight: 600;
    color: #ffe600;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00d7c3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
    box-shadow: 3px 3px 3px 3px #00d7c3 inset, 0 0 20px 2px #00d7c3;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #00d7c3;
    font-size: 18px;
}

.tab-contents ul a{
    text-decoration: none;
    color: #00d7c3;
    border: 1px solid #00d7c3;
    border-radius: 50px;
    padding: 2px 12px;
    transition: all .2s;
}

.tab-contents ul a:hover{
    color: #ffffff;
    background: #00d7c3;
}

.tab-contents p span{
    color: #ffe600;
    font-size: 18px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*--------Footer---------*/

footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #262626;
    font-weight: 300;
}

footer i{
    color: red;
}
